<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>this is homepage</h1>
    <h3> <%= 1 * 4 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel deleniti assumenda dolorem, corrupti eius consequatur at possimus fugiat molestiae. Iusto numquam saepe facere dolorum qui? Sapiente ratione ab quis.
    Veritatis, architecto obcaecati! Aspernatur expedita soluta ab cupiditate itaque suscipit at porro, vitae iusto pariatur quasi voluptas laboriosam aliquam provident ullam error voluptatem repellendus aperiam, assumenda autem. Perferendis, cupiditate illum!
    Laudantium nam quod excepturi saepe quae dolorem ullam, pariatur iste veritatis sint minus obcaecati vero beatae quos aliquid, odio hic autem totam ratione earum, ut sequi iusto! Similique, repellat. Architecto.</p>
    
</body>
</html>